.main{ width: 350px;
       height: 580px;border: 1px solid black;
        border-radius: 20px;
        background-color: black; font-weight: 700; font-size: 20px; margin:0% auto;
}
h4{ text-align: center;}
.numaric{ margin-top: 55PX;
}
.numaric ul li { display: inline-block; 
    width: 40px;height: 40px;
    border-radius: 50%;
     color: aliceblue;
      border:2px solid white; 
      padding-top: 20px;
       padding-left: 10px;
       padding-right: 10px; 
      text-align: center;}
    

.number ul li { display: inline-block; 
    width: 40px;height: 40px;
    border-radius: 50%;
     color: aliceblue;
      border:2px solid white; 
      padding-top: 20px;
       padding-left: 10px;
       padding-right: 10px; 
      text-align: center;
    }
.CO {background-color: darkgoldenrod;
}
.gr{ background-color: gray;}
li { background-color:#101010;}

